html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100vw;
}

footer ul {

    list-style: none;
    background: #f2f2f2;
    display: flex;
    margin-bottom: 0px;
    padding-bottom: 15px;
    margin-top: 0px;
    padding-top: 15px
}

.advanced-body {
    width: 100vw;

}

.main-body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.entire_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-advanced {
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
}

.header-advanced .header-logo {
    width: 100px;
    padding: 1rem;
}

.header-advanced li {
    margin-top: 0.5rem;
}

.advanced-main_heading h2 {
    color: #d93025;
    font-size: 20px;
    font-weight: 400;

}

.advanced-main h4 {
    font-weight: 400;
    font-size: 18px;
}

.advanced-main {
    /* min-height: 85vh; */
    color: rgba(0, 0, 0, 0.72);
}

.advanced-main_heading {
    border-bottom: 1px solid #f2f2f2;
    padding: 0.5rem 2.5rem;
}

.advanced-main__body-form-upper,
.advanced-main__body-form-down {
    border-bottom: 1px solid #f2f2f2;
    display: flex;
}

.advanced-main__info {

    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;

}

.advanced-main__body a {
    font-size: 13px;
    color: -webkit-link;
}

.header-menu {
    display: flex;
    list-style: none;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.72);
    padding-right: 20px;
}

a:hover {
    text-decoration: underline;
}

.french {
    color: #1a0dab;
}

.french:hover {
    text-decoration: underline;
}

.icon-search {

    position: relative;
    color: gray;
    font-size: 1.2rem;
    left: 1rem;
    top: 2.2rem;
}

.icon-micro {
    position: relative;
    color: #4285f4;
    top: 36px;
    left: 595px;
}

.icon-micro-images {
    position: relative;
    color: #4285f4;
    top: 36px;
    left: 535px;
}

.icon-camera {
    left: 520px;
    top: 35px;
    font-size: 1.2rem;
    position: relative;
}

.lang-offer {
    font-size: 13px;
}

.main .image-search_button {
    cursor: pointer;
    background: none;
    border: none;
}

.image-search_button:focus {
    outline: none;
}

.image-search_button #search {
    position: relative;
    color: #4285f4;
    bottom: -36px;
    font-size: 18px;
    left: 545px;
}

header ul li a .fa-th {
    color: rgba(0, 0, 0, 0.44);
    font-size: 1.4rem;
    padding: 0 0.2rem;
    text-decoration: none;
}

.logo span {
    color: #4285f4;
    bottom: 38px;
    right: 5px;
}

.logo-subtext {
    position: relative;
    color: #4285f4;
    bottom: 20px;
    left: 230px;
}

.advanced-main__body-form-fields {
    width: 60%;
    padding-right: 1rem;
}

.advanced-main__body-form-fields div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.advanced-main__body-form-upper,
.advanced-main__body-form-down {
    border-bottom: 1px solid #f2f2f2;
    display: flex;
}

.advanced-main__body input,
.advanced-main__body select {
    border: 1px solid #e4e4e4;
    border-radius: 0;
    padding: 0.4rem 0.6rem;
    display: inline-block;
    max-width: 90vw;
}

.advanced-main__body select {
    background-color: #f5f5f5;
    /* background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1); */
    width: 73%;
}

.advanced-main__body .second-tips {
    margin-top: 3.2rem;
}

.advanced-main__body p {
    font-size: 11px;
    line-height: 2.9;
}

.advanced-main__body input {
    width: 70%;
}

.advanced-main__body label {
    font-size: 13px;
}

.advanced-main__body {
    width: 85%;
    padding: 0.5rem 2.5rem;
}

.advanced-main__body input:focus {
    outline: 1px solid #4285f4;
}

.advanced-main__body button {
    background: #4285f4;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 12px;
    float: right;
    margin: 0.5rem 0 1.8rem 0;
    cursor: pointer;
}

.advanced-main__body #nr-to,
.advanced-main__body #nr-from {
    width: 200px;
}

.header_navigation,
.navigation_container_first,
.navigation_container_second {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: rgba(0, 0, 0, 0.87);
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-size: 14px;
    margin-block-start: 0.6em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    padding-inline-start: 10px;
}

a.googleapps:hover {
    text-decoration: none !important;
}

.navigation_container :hover {
    text-decoration: underline;
}

.letter-icon {
    color: #fff;
    font-size: 17px;
    background: blueviolet;
    padding: 0.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    margin-block-start: 0em;
}

.main {
    width: 100%;
    height: calc(100vh - 65px - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    font-family: Arial, sans-serif;
}

.button {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    border-color: transparent;
    display: flex;
    justify-content: center;
}

.btn-search {
    padding: 0.8rem 1.2rem;
    color: #3c4043;
    border: 1px solid transparent;
    background: #f2f2f2;
    margin: 1.7rem 0.3rem 2rem 0.3rem;
    font-size: 15px;
    cursor: pointer;
}

.btn-search:hover,
.btn-search:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    outline: none;
    text-decoration: none;
}

.input-field {
    width: 560px;
    border: 1px solid #e4e4e4;
    border-radius: 24px;
    padding: 16px 40px;
    display: flex;
    font-size: 16px;
    outline: none;
}

.input-field:hover,
.input-field:focus {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
    outline: none;
}

.footer_Canada {
    color: rgba(0, 0, 0, 0.72);
    display: flex;

    flex-direction: column;
    font-size: 15px;
    align-items: flex-start;

    font-family: Arial, sans-serif;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 0.8rem 2.5rem;
}

.footer_advertising {

    color: rgba(0, 0, 0, 0.72);
    display: flex;
    flex-direction: row;
    font-size: 15px;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin-right: 20px;
}

.footer_advertising a:hover {

    text-decoration: underline;
    color: rgba(0, 0, 0, 0.72);
}

.container_footer {
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    background: none;
    color: rgba(0, 0, 0, 0.72);
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.dropdown .dropbtn:focus {
    outline: none;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: -280px;
    left: -140px;
    background-color: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.44);
    padding: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown .dropdown-content a:hover {
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer div:nth-child(1) {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    background: #f2f2f2;
    font-size: 15px;
    padding: 0.8rem 2.5rem;
}

/* For the smaller screen */

@media only screen and (max-width: 600px) {
    header {
        justify-content: flex-end;
    }

    header .header-info {
        display: none;
    }

    .main-body {
        font-family: Arial, sans-serif;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .input-field {
        width: 280px !important;
    }

    .logo {
        position: relative;
    }

    .logo img {
        width: 200px;
    }

    .btn-search {
        font-size: 14px !important;
        padding: 0.5rem 1rem !important;
    }

    footer div:nth-child(2) {
        flex-direction: column;
        align-items: center;
        flex-flow: column-reverse;
        font-size: 14px;
    }

    footer div:nth-child(2) ul li {
        margin-right: 1rem;
    }

    .advanced-main__body,
    .advanced-main__heading {
        padding: 1rem;
    }

    .advanced-main__body-form-fields,
    .advanced-main__heading-form-fields {
        width: 100%;
        padding-right: 0;
    }

    .advanced-main__body-tips,
    .advanced-main__heading-tips {
        display: none;
    }

    .icon-micro {
        position: relative;
        color: #4285f4;
        top: 36px;
        left: 315px;

    }

    .icon-micro-images {
        position: relative;
        color: #4285f4;
        top: 36px;
        left: 249px;
    }

    .icon-camera {
        left: 230px;
        top: 35px;
        font-size: 1.2rem;
        position: relative;
    }

    .image-search_button #search {
        position: relative;
        color: #4285f4;
        bottom: -36px;
        font-size: 18px;
        left: 260px;
    }

    .logo span {
        position: absolute;
        color: #4285f4;
        bottom: -24px;
        right: 215px;
    }

    .logo-subtext {
        position: relative;
        color: #4285f4;

    }
}

/* Remove the menu when screen is resized. */

@media screen and (max-width:500px) {
    .navigation_container_first {
        display: none
    }
}

@media only screen and (max-width: 1200px)
{
.advanced-main__body #nr-to, .advanced-main__body #nr-from {
    width: 100px;

}
}